@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* globals.css */
html {
  scroll-behavior: smooth;
}

/* Optional: Offset for fixed navbar */
html {
  scroll-padding-top: 64px; /* Matches your navbar height (h-16 = 64px) */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
